{% extends "layout.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ url.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ url.url.label(class="form-control-label") }}

                    {% if url.url.errors %}
                        {{ url.url(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in url.url.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ url.url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ url.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            https://www.youtube.com/watch?v=_K-L9uhsBLM
        </small>
    </div>
{% endblock content %}